<% content_for :title, t("home.ogtitle") %><% content_for :description, t("home.meta") %>
<% content_for :css do %><%= stylesheet_link_tag "application" %><% end %>
<% content_for :ogtitle, t("home.ogtitle") %>
<% content_for :ogdescription, t("home.meta") %>
<% content_for :ogtype, "article" %>
<% content_for :ogimage, image_url("logo.png") %>
<body class="stretched sticky-responsive-menu sticky-responsive-menu">
  <div id="wrapper" class="clearfix">
    <header id="header" class="sticky-style-2">
      <%= render 'shared/header' %>
      <div id="header-wrap">
        <% content_for :menu do %>
          <li>
            <% if logged_in? && is_admin %>
              <%=link_to(admin_path) do %>
                <i class="icon-lg icon-cogs" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </li>
          <li>
            <%=link_to "#", class: "no-transition home-menu-item" do %>
              <div><%= t "home.nav.diensten"%></div>
            <% end %>
          </li>
          <li>
            <%=link_to "#", class: "no-transition home-menu-item" do %>
              <div>Portfolio</div>
            <% end %>
          </li>
          <li>
            <%=link_to "#", class: "no-transition home-menu-item" do %>
              <div><%= t "home.nav.nieuws"%></div>
            <% end %>
          </li>
          <li>
            <%=link_to "#", class: "no-transition home-menu-item" do %>
              <div>Contact</div>
            <% end %>
          </li>
          <li>
            <% if logged_in? && is_admin %>
              <%=link_to(destroy_user_session_path, method: :delete) do %>
                <i class="icon-lg icon-line-power" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <%=render "shared/menu" %>
      </div>
    </header>
    <section id="slider" class="boxed-slider">
      <div class="container clearfix">
        <div id="oc-slider" class="owl-carousel carousel-widget" data-items="1" data-loop="false" data-nav="false" data-animate-in="fadeIn" data-animate-out="fadeOut" data-speed="800" data-disabled="true">
          <a href="#">
            <%= image_tag("slider1-#{I18n.locale}.jpg", alt: t("home.sub")) %>
          </a>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <div class="row clearfix services-list">
            <div id="<%= t 'home.nav.diensten' %>" class="line notopmargin"></div>
            <h3 class="services-heading center"><%= t "home.services.title1"%>
              <span><%= t "home.services.title1_span"%></span>
            </h3>
            <%=link_to(webapplicatie_path , class: "bob service-item-link" ) do %>
              <div class="col-md-3 center bottommargin">
                <i class="i-plain color i-large icon-diamond inline-block" style="margin-bottom: 20px;"></i>
                <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                  <span class="before-heading"><%= t "home.services.service4_pretitle"%></span>
                  <h4><%= t "home.services.service4_title"%></h4>
                </div>
                <p><%= t "home.services.service4_descr"%></p>
              </div>
            <% end %>
            <div class="col-md-3 center bottommargin bob service-item-link service-item-link--disabled hidden-xs">
              <i class="i-plain color i-large icon-line2-energy inline-block" style="margin-bottom: 20px;"></i>
              <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <span class="before-heading"><%= t "home.services.service1_pretitle"%></span>
                <h4><%= t "home.services.service1_title"%></h4>
              </div>
              <p><%= t "home.services.service1_descr"%></p>
            </div>
            <div class="col-md-3 center bottommargin bob service-item-link service-item-link--disabled hidden-xs">
              <i class="i-plain color i-large icon-line2-screen-desktop inline-block" style="margin-bottom: 20px;"></i>
              <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <span class="before-heading"><%= t "home.services.service2_pretitle"%></span>
                <h4><%= t "home.services.service2_title"%></h4>
              </div>
              <p><%= t "home.services.service2_descr"%></p>
            </div>
            <div class="col-md-3 center bottommargin bob service-item-link service-item-link--disabled hidden-xs">
              <i class="i-plain color i-large icon-line2-rocket inline-block" style="margin-bottom: 20px;"></i>
              <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <span class="before-heading"><%= t "home.services.service3_pretitle"%></span>
                <h4><%= t "home.services.service3_title"%></h4>
              </div>
              <p><%= t "home.services.service3_descr"%></p>
            </div>
          </div>
          <% comment do %>
            <div class="promo promo-border promo-center bottommargin hidden">
              <h3><%= t "analyse.promo1" %>
                <span><%= t "analyse.promo_span" %></span>
                <%= t "analyse.promo1_second" %></h3>
              <span><%= t "analyse.promo1_third" %></span>
              <%= link_to(website_analyse_path, class: "button button-large button-circle") do %>
                <i class="hidden-xs icon-cogs"></i>
                <%= t "analyse.button" %>
              <% end %>
            </div>
          <% end %>
          <div id="portfolio" class="line notopmargin"></div>
          <h3 class="center" style="position: relative;"><%= t "home.projects.title1"%>
            <span><%= t "home.projects.title1_span"%> </span>
            <span class="hidden-xs"><%= link_to t("projects.all_projects") + " »", all_projects_path, style:"font-size: 13px; vertical-align: middle; text-transform: inherit; position: absolute; right: 0;", class:"more-link button button-mini button-circle" %></span>
          </h3>
          <div class="owl-carousel portfolio-carousel carousel-widget" data-margin="1" 
          data-loop="false" data-nav="true"
            data-pagi="false" data-items-xxs="1" data-items-xs="1" data-items-sm="3" data-items-md="4"
            data-items-lg="4">
            <% @projects.each do |project| %>
              <div class="oc-item">
                <div class="iportfolio">
                  <div class="portfolio-image">
                    <%= link_to(project_path(project)) do %>
                      <%= image_tag headerimage(project), alt: "Webdesign Antwerpen - Portfolio" %>
                    <% end %>
                    <div class="portfolio-overlay">
                      <%=link_to(url(project.project_images.first) , class: "left-icon", data:{lightbox: "image"}) do %>
                        <i class="icon-line-image"></i>
                      <% end %>
                      <%=link_to(project_path(project), class: "right-icon") do %>
                        <i class="icon-line-open"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="portfolio-desc">
                    <h3>
                      <%=link_to(project.title, project_path(project)) %>
                    </h3>
                    <%= link_to project_path(project), class: "portfolio-features" do %>
                      <span>
                        <%= tags(project) %>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="line"></div>
          <h3 class="center"><%= t "home.services.title1"%>
            <span><%= t "home.testimonials.title1_span"%></span>!</h3>
          <div class="fslider testimonial testimonial-full noshadow noborder nopadding divcenter" data-animation="fade"
            data-arrows="false" data-autoplay="8000" data-speed="500" data-loop="true" style="max-width: 700px;">
            <div class="flexslider">
              <div class="slider-wrap">
                <% @testimonials.each do |testimonial| %>
                  <div class="slide">
                    <div class="testi-image">
                      <a
                      href="<%= testimonial.link || no-target %>"><%=image_tag testimonial.image.url, alt: "Webdesign Antwerpen - Getuigenissen" %></a>
                    </div>
                    <div class="testi-content">
                      <% if I18n.locale == :nl %>
                        <p><%= testimonial.quote %></p>
                      <% else %>
                        <p><%=  testimonial.en_quote %></p>
                      <% end %>
                      <div class="testi-meta">
                        <%=testimonial.name %>
                        <span><%=testimonial.company %></span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div id="<%= t 'home.nav.nieuws'%>" class="line"></div>
          <h3 class="center" style="position: relative;"><%= t "home.news.title1"%>
            <span><%= t "home.news.title1_span"%></span>
            <span class="hidden-xs"><%= link_to t("articles.all_articles") + " »", all_articles_path, style:"font-size: 13px; vertical-align: middle; text-transform: inherit; position: absolute; right: 0;", class:"more-link button button-mini button-circle" %></span>
          </h3>
          <div id="oc-posts" class="owl-latest-news owl-carousel posts-carousel carousel-widget owl-loaded owl-drag"
            data-margin="15" data-loop="false" data-nav="true" data-pagi="false" data-items-xxs="1" data-items-xs="1"
            data-items-sm="3" data-items-md="4" data-items-lg="4">
            <% I18n.locale == :nl ? (@articles = @nl_articles) : (@articles = @en_articles) %>
            <% @articles.each do |article| %>
              <div class="oc-item">
                <div class="ipost clearfix">
                  <div class="entry-image">
                    <a href="<%= articles_show_path(article) %>">
                      <%= image_tag article.image.variant(resize_to_fit: [350,200]), alt: "Webdesign Antwerpen - Nieuws", class: "image_fade" if article.image.attached? %>
                    </a>
                  </div>
                  <div class="entry-title">
                    <% if I18n.locale == :en %>
                      <h3><%=link_to(article.en_title, articles_show_path(article)) %></h3>
                    <% else  %>
                      <h3><%=link_to(article.title, articles_show_path(article)) %></h3>
                    <% end %>
                  </div>
                  <div class="entry-content">
                    <% if I18n.locale == :en %>
                      <p><%=article.en_description %></p>
                    <% else  %>
                      <p><%=article.description %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div id="contact" class="line"></div>
          <h3 class="center">
            <span><%= t "home.contact.title1_span"%></span>
            <%= t "home.contact.title1"%></h3>
          <div class="col-md-6 bottommargin">
            <div class="team team-list clearfix">
              <div class="team-image" style="margin-bottom: 20px;">
                <%= image_tag("me.jpg", class: "img img-responsive", alt: "Webdesign Antwerpen - Contact") %>
              </div>
              <div class="team-desc">
                <div class="team-title">
                  <h4>
                    Simon Somlai
                  </h4>
                  <span><%= t "home.contact.job"%></span>
                </div>
                <div class="team-content hidden-xs">
                  <p><%= t "home.contact.about"%></p>
                </div>
                <br />
                <%= link_to asset_path("cv.pdf"), target: "_blank", class: "button button-3d button-rounded nomargin button-small btn-block text-center" do %>
                  <i class="icon-download"></i>
                  <span><%= t "home.contact.cv"%></span>
                <% end %>
                <a target="_blank"
                    href="https://www.linkedin.com/in/simon-somlai-27a4648a/"
                    class="social-icon si-rounded si-small si-linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/SimonSomlai"
                    class="social-icon si-rounded si-small si-github">
                  <i class="icon-github"></i>
                  <i class="icon-github"></i>
                </a>
                <a target="_blank"
                  href="https://stackoverflow.com/users/5079884/simon-somlai"
                  class="social-icon si-rounded si-small si-stackoverflow">
                  <i class="icon-stackoverflow"></i>
                  <i class="icon-stackoverflow"></i>
                  <a target="_blank"
                    href="https://www.youtube.com/channel/UCg9AnJ7AAVKkHZ4wQ0CXPAw/videos?view=0&sort=dd&shelf_id=0"
                    class="social-icon si-rounded si-small si-youtube">
                    <i class="icon-youtube"></i>
                    <i class="icon-youtube"></i>
                  </a>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 cf">
            <div class="col_two_fifth">
              <address>
                <strong><%= t "home.contact.location"%></strong>
                <br>
                Antwerp, Belgium
                <br>
              </address>
              <b title="Email Address">
                <strong>Email:</strong>
              </b>
              <a href="mailto:info@truetech.be">info@truetech.be</a>
              <br>
            </div>
            <% if @cloud.length != 0  %>
              <div id="tags" class="hidden-xs hidden-sm" style="margin-bottom: 20px;">
                <div class="tagcloud" style="display: flex; flex-wrap: wrap;">
                  <% @cloud.each do |key, value| %>
                    <a href="" onclick="event.preventDefault();" style="cursor: default; font-size: <%= 14.to_f + (12.to_f * (value.to_f / @max.to_f)) %>px !important;"><%= key %></a>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-12 bottommargin">
            <section id="google-map" class="gmap"
                style="height: 240px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
              <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCaWCpVtwDpwN-5Lm5zu0xx9FBMrfjuZ7M'></script>
              <div style='overflow:hidden;height:240px;width:px;'>
                <div id='gmap_canvas' style='height:240px;width:px;'></div>
                <div>
                  <small>
                    <a href="http://embedgooglemaps.com">
                      embed google maps
                    </a>
                  </small>
                </div>
                <div>
                  <small>
                    <a href="https://privacypolicytemplate.net">privacy policy example</a>
                  </small>
                </div>
                <style>
                  #gmap_canvas img {
                    max-width: none !important;
                    background: none !important;
                  }
                </style>
              </div>
              <script type='text/javascript'>
                function init_map() {
                  var myOptions = {
                    draggable: false,
                    zoomControl: false,
                    scrollwheel: false,
                    zoom: 10,
                    center: new google.maps.LatLng(51.196330, 4.459335),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                  };
                  map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                  marker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(51.196330, 4.459335)
                  });
                  infowindow = new google.maps.InfoWindow({
                    content: '<strong>Simon Somlai</strong><br>Antwerp, Belgium<br>'
                  });
                  google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                  });
                  infowindow.open(map, marker);
                }
                google.maps.event.addDomListener(window, 'load', init_map);
              </script>
            </section>
          </div>
        </div>
      </div>
    </section>
    <%=render "shared/footer" %>
    <div id="gotoTop" class="icon-angle-up"></div>
    <% content_for :js do %>
      <%=javascript_include_tag "application" %>
      <script>
        autoScroll();
        showOptions();
      </script>
    <% end %>
  </body>
