<% content_for :title, "Articles"  %>
<% content_for :description, "This is the meta description for the article-admin menu" %>
<% content_for :css do %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <%= stylesheet_link_tag "admin", "magnific-popup", "font-icons", "trumbowyg.min", "style", "actiontext"  %>
<% end %>
<body class="nav-md">
  <div class="container body admin-body">
    <div class="main_container admin-body">
      <%= render "shared/admin_menu" %>
      <div class="right_col cf" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12 table-fade <%= table_hidden? %>">
          <div class="x_panel">
            <div class="x_title">
              <h2>
                <i class="fa fa-pencil"></i>
                Articles |
                                <a onclick="createForm()" class="btn btn-sm btn-round btn-success">
                  <i class="fa fa-plus"></i>
                  <%= @action %>
                  Article</a>
              </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th class="hidden-xs">#</th>
                    <th>Title</th>
                    <th class="hidden-xs">Description</th>
                    <th class="hidden-xs">Category</th>
                    <th class="hidden-xs">Image</th>
                    <th class="hidden-xs">Author</th>
                    <th class="hidden-xs">Status</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <% @articles.each do |article| %>
                    <tr>
                      <td scope="row" class="hidden-xs"><%= article.id %></td>
                      <td>
                        <!-- Link to en locale when present  -->
                        <% if article.en_title != "" %>
                          <%= link_to articles_show_path(article.slug_en, article: article.slug_en, locale: :en)  do %>
                            <i class="fa fa-cogs"></i>
                            <%= article.en_title %>
                          <% end %>
                        <% else %>
                          <a target="_blank" href="<%= articles_show_path(article) %>">
                            <i class="fa fa-search"></i>
                            <%= article.title %>
                          </a>
                        <% end %>
                      </td>
                      <td class="hidden-xs"><%= article.description.blank? ? article.en_description : article.description %></td>
                      <td class="hidden-xs"><%= article.category %></td>
                      <td class="hidden-xs">
                        <% if article.image_new.attached? %>
                          <span data-lightbox="gallery">
                            <a data-lightbox="gallery-item" href="<%= url(article.image_new) %>">
                              <i class="fa fa-picture-o" aria-hidden="true"></i>
                            </a>
                          </span>
                        <% elsif !article.image.url.nil? %>
                          <span data-lightbox="gallery">
                            <a data-lightbox="gallery-item" href="<%= article.image.url %>">
                              <i class="fa fa-picture-o" aria-hidden="true"></i>
                            </a>
                          </span>
                        <% end %>
                      </td>
                      <td class="hidden-xs"><%= author(article) %></td>
                      <td class="hidden-xs">
                        <% if article.posted? %>
                          <%= "Posted" %>
                        <% else %>
                          <%= "Draft" %>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to(edit_article_path(article), :class => "edit-link") do %>
                          <i class="fa fa-pencil"></i>
                          edit
                                            <% end %>
                        |
                                            <%= link_to article_path(article), :method => "delete", :data => {:confirm => 'Are you sure?'} do %>
                          <i class="fa fa-trash"></i>
                          delete
                                            <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="create-form" class="col-md-12 col-sm-12 col-xs-12 margin-top create-form <%= form_hidden? %>">
          <div class="x_panel">
            <div class="x_title">
              <h2>
                <i class="fa fa-pencil"></i>
                <%= @action %>
                Article
                                <span class="<%= form_hidden? %>">|</span>
                <%= link_to("All Articles", articles_path, class: "open-form btn btn-sm btn-round btn-success #{form_hidden?}", :data => {:confirm => 'Your changes will not be saved - proceed?'}) %></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li>
                  <%= link_to "#", :class => "change-locale" do %>
                    <div class="locale locale-menu <%= I18n.locale %>"></div>
                  <% end %>
                </li>
              </ul>
              <ul class="nav navbar-right panel_toolbox <%= table_hidden? %>">
                <li>
                  <a onclick="closeForm();" class="close-link">
                    <i class="fa fa-close"></i>
                  </a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <%= form_for(@article, :html => {:class => "form-horizontal form-label-left", :id => "demo-form2", :multipart => true }) do |f| %>
                <%= render "shared/error_messages", object: f.object %>
                  <% if @article.id.present?  %>
                    <div class="form-group locale-field col-hidden">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">View article</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <%= link_to("View article (NL)", articles_show_path(@article.slug_nl, article: @article.slug_nl, locale: :nl), target: "_blank", style: "vertical-align: -webkit-baseline-middle;") %>
                      </div>
                    </div>
                    <div class="form-group locale-field">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">View article</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <%= link_to("View article (EN)", articles_show_path(@article.slug_en, article: @article.slug_en, locale: :en), target: "_blank", style: "vertical-align: -webkit-baseline-middle;")  %>
                      </div>
                    </div>
                  <% end %>
                <div class="form-group locale-field col-hidden">
                  <%= f.label :title, "Title", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :title, :class => "form-control col-md-7 col-xs-12" %>
                  </div>
                </div>
                <div class="form-group locale-field">
                  <%= f.label :en_title, "English Title", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :en_title, :class => "form-control col-md-7 col-xs-12" %>
                  </div>
                </div>
                
                <div class="form-group locale-field col-hidden">
                  <%= f.label :description, "Description", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_area :description, :class => "form-control col-md-7 col-xs-12" %>
                  </div>
                </div>
                   <div class="form-group locale-field col-hidden">
                  <%= f.label :content, "NL rich text", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.rich_text_area :content %>
                  </div>
                </div>

                <div class="form-group locale-field">
                  <%= f.label :en_description, "English Description", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_area :en_description, :class => "form-control col-md-7 col-xs-12" %>
                  </div>
                </div>
                <div class="form-group locale-field">
                  <%= f.label :en_content, "EN rich text", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.rich_text_area :en_content %>
                  </div>
                </div>

                <div class="form-group locale-field col-hidden">
                  <%= f.label :slug_nl, "NL Url", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :slug_nl, :class => "form-control col-md-7 col-xs-12", placeholder: "mijn-coole-url" %>
                  </div>
                </div>
                <div class="form-group locale-field">
                  <%= f.label :slug_en, "EN Url", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :slug_en, :class => "form-control col-md-7 col-xs-12", placeholder: "my-cool-url" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Helpers</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <pre style="height: 50px; overflow-y: scroll; text-align: left; white-space: pre-line;">
                      &lt;img data-action="zoom" src="/" data-src="/s3-url"&gt;
                      &lt;pre id=&quot;code&quot; class=&quot;language-ruby&quot;&gt;&lt;code&gt;My code &lt;/code&gt;&lt;/pre&gt;
                      &lt;code&gt;inline&lt;/code&gt;
                      &lt;blockquote&gt;&quot;Hey&quot;-&lt;strong&gt;Tom&lt;/strong&gt;&lt;/blockquote&gt;
                      pull-right side
                    </pre>
                  </div>
                </div>
                <div class="form-group locale-field locale-nl col-hidden">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea id="editor"></textarea>
                  </div>
                </div>
                <div class="form-group form-nl">
                  <%= f.hidden_field :body, html: {:class => "form-control col-md-7 col-xs-12", :id => "editorcontent"} %>
                </div>
                <div class="form-group locale-field locale-en">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea id="editor2"></textarea>
                  </div>
                </div>
                <div class="form-group form-en">
                  <%= f.hidden_field :en_body, html: {:class => "form-control col-md-7 col-xs-12", :id => "editorcontent2"} %>
                </div>
                <div class="form-group">
                  <%= f.label :category, "Category", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :category, :class => "form-control col-md-7 col-xs-12" %>
                    <b>Current:</b> <%= categories.join(", ") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :posted, "Published", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="checkbox">
                      <label class="">
                        <div class="icheckbox_flat-green" style="position: relative;">
                          <%= f.check_box :posted, :class => "flat" %>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :image_new, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                  <div class="col-md-6 col-sm-6 col-xs-12"><br/>
                   <% if @article.image_new.present? %>
                      <strong>Current</strong>
                      <%= image_tag(@article.image_new, class: "img-responsive" )  %><br/>
                  <% end %>
                  <%= f.file_field :image_new, :options => {:class => "form-control col-md-7 col-xs-12", accept: "image/jpeg,image/gif,image/png"} %>
                </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <%= f.submit "#{@action} Article", class: "text-center btn btn-success" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% content_for :js do %>
  <%= javascript_include_tag  "custom", "jquery", "jquery_ujs", "plugins", "functions","trumbowyg.min", "script" %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    $('#editor').trumbowyg();
      getText();
      $('#editor2').trumbowyg();
      getText2();
      changeLocale();
      loadArticle()
  </script>
<% end %>
</body>
