<footer id="footer">
   <div id="copyrights">
      <div class="container clearfix">
         <div class="col_half copyright-links">
            <%= t "footer.disclaimer"%><br>
            <div class="copyright-links hidden-xs"><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming Soon">Jobs</a> / <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming Soon"><%= t "footer.faq"%></a></div>
         </div>
         <div class="col_half col_last" data-toggle="tooltip">
            <h5 class="text-center"><strong><%= t "footer.subheader"%></strong></h5>
            <form action="//basicgrowth.us10.list-manage.com/subscribe/post?u=9977656e94f27f7aad886fc7d&amp;id=e4d5107bb1" method="post" id="widget-subscribe-form" name="mc-embedded-subscribe-form" class="nobottommargin subscribe" target="_blank" novalidate >
               <div class="input-group input-group-md divcenter" style="max-width:600px; margin-bottom: 15px;"> <span class="input-group-addon"><i class="icon-user4"></i></span> <input data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= t 'footer.submessage' %>" type="text" placeholder="<%= t 'footer.subname' %>" value="" name="FNAME" class="form-control required email" id="mce-FNAME"> </div>
               <div class="input-group input-group-md divcenter" style="max-width:600px;"> <span class="input-group-addon"><i class="icon-email2"></i></span> <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="<%= t 'footer.subemail' %>"> <span class="input-group-btn"> <input type="submit" value="<%= t 'footer.subbutton' %>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default index-subscribe"> </span> </div>
               <div class="mc-field-group hidden">
				<input type="text" value="<%= I18n.locale %>" name="MMERGE2" class="" id="mce-MMERGE2">
				</div>
               <div class="which-articles-wrapper col-hidden cf checkbox subscribe text-center">
                  <h5><strong><%= t 'footer.suboptions' %> </strong></h5>
                  <div class="col-md-12 subscribe checkbox text-center center-block"> <label for="mce-group[7933]-7933-0"><%= t 'footer.option1' %></label> <input type="checkbox" value="1" name="group[7933][1]" id="mce-group[7933]-7933-0" class="flat inline checkbox"> </div>
                  <div class="col-md-12 subscribe checkbox text-center center-block"> <label for="mce-group[7933]-7933-1"><%= t 'footer.option2' %></label> <input type="checkbox" value="2" name="group[7933][2]" id="mce-group[7933]-7933-1" class="flat inline checkbox"> </div>
                  <div class="col-md-12 subscribe checkbox text-center center-block"> <label for="mce-group[7933]-7933-2"><%= t 'footer.option3' %></label> <input type="checkbox" value="4" name="group[7933][4]" id="mce-group[7933]-7933-2" class="flat inline checkbox"> </div>
                  <div id="mce-responses" class="clear">
                     <div class="response" id="mce-error-response" style="display:none"></div>
                     <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"> <input type="text" name="b_9977656e94f27f7aad886fc7d_e4d5107bb1" tabindex="-1" value=""> </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</footer>
</div>
