<% content_for :title, @page.title + " | TrueTech - Webdesign Antwerpen" %><% content_for :description, @page.description %>
<% content_for :ogtitle, @page.title %>
<% content_for :ogdescription, @page.description %>
<% content_for :ogtype, "article" %>
<% content_for :css do %>
<%=stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" %><%=stylesheet_link_tag "application" %><% end %>
<body class="stretched sticky-responsive-menu">
   <div id="wrapper" class="clearfix">
   <header id="header" class="sticky-style-2">
      <%= render 'shared/header' %>
      <div id="header-wrap">
         <% content_for :menu do %> 
         <li> <%=link_to("Home", home_path) %> </li>
         <% end %> <%=render "shared/menu" %> 
      </div>
   </header>
   <%= raw @page.body %>
   <div id="contact"></div>
   <div id ="page-contact" class="container clear-bottommargin topmargin clearfix col-centered">
      <div class="container cf">
         <div class="fancy-title title-border title-center bottommargin">
            <h2><%= t "contact.heading1" %><span> <%= t 'contact.heading1_span' %></span>!</h2>
         </div>
      </div>
      <div class="col-sm-12 col-md-12 contactform">
         <%=form_for(@contact, remote: true, :format=> 'js', :html=>{:class=> "nobottommargin", :name=> "template-contactform", :id=> "template-contactform", :multipart=> true}) do |f| %> <%=render "shared/error_messages", object: f.object %> 
         <div class="col_half"> <%=f.label :name do %> <%= t 'contact.name' %><small>*</small> <% end %> <%=f.text_field :name, required: true, id: "template-contactform-name", :class=> "sm-form-control required" %> </div>
         <div class="col_half col_last"> <%=f.label :email do %> Email<small>*</small> <% end %> <%=f.email_field :email, required: true, id: "template-contactform-email", :class=> "required email sm-form-control" %> </div>
         <div class="clear"></div>
         <div class="col_half"> <%=f.label :phone, t('contact.phone') %> <%=f.text_field :phone, id: "template-contactform-phone", :class=> "sm-form-control" %> </div>
         <div class="col_half col_last"> <%=f.label :subject, "Onderwerp" %> <%=f.text_field :subject, id: "template-contactform-options", value: "Hey!", :class=> "sm-form-control required" %> </div>
         <div class="clear"></div>
         <div class="col_full"> <%=f.label :message do %> <%= t('contact.message') %><small>*</small> <% end %> <%=f.text_area :message, id: "template-contactform-message", :class=> "required sm-form-control", rows: 6, cols: 30 %> </div>
         <div><%= f.invisible_captcha :firstname %></div>
          <div class="col_full"> <%=f.submit t('contact.send'), id: "template-contactform-submit", class: "button button-3d nomargin" %> </div>
         <% end %> 
      </div>
   </div>
   <%=render "shared/footer" %> 
   <div id="gotoTop" class="icon-angle-up"></div>
   <% content_for :js do %> <%=javascript_include_tag "application" %> <script>autoScroll(); showOptions(); 
   if ($(".remove-contact").length == 1){
      $("#page-contact").hide();
   }
   </script> <% end %>
</body>
