<% content_for :title, "#{@project.title} | Webdesign Antwerpen - Simon Somlai " %><% content_for :description, "#{@project.description}" %><% content_for :css do %><%=stylesheet_link_tag "application" %><% end %>
<% content_for :ogtitle, @project.title %>
<% content_for :ogdescription, @project.description %>
<% content_for :ogtype, "article" %>
<% content_for :ogimage, url(@project.project_images.first) %>
<body class="stretched sticky-responsive-menu">
  <div id="wrapper" class="clearfix">
    <header id="header" class="sticky-style-2">
      <%= render 'shared/header' %>
      <div id="header-wrap">
        <% content_for :menu do %>
          <li> <%=link_to("Home", home_path) %> </li>
          
        <% end %> <%=render "shared/menu" %>
      </div>
    </header>
    <div class="container clearfix">
      <div class="col_three_fifth portfolio-single-image nobottommargin" data-lightbox="gallery">
        <a href="<%= url(@project.project_images.first) if @project.project_images.attached?  %>" data-lightbox="gallery-item" style="cursor: zoom-in;">
          <%=image_tag @project.project_images.first , alt: "#{@project.title} - Webdesign Antwerpen", class: "main" if @project.project_images.attached? %>
        </a>
        <ol class="flex-control-nav hidden-xs">
          <% @project.project_images.each_with_index do |asset, index| %>
          <%# Skip first image %>
            <% if index > 0 %>
            <li> 
              <a href="<%= url(asset) %>" data-lightbox="gallery-item" class="<%= 'mfp-iframe' if is_video(asset) %>"> 
                 <% if is_video(asset) %>
                  <%= video_tag(url(asset)) %> 
                 <% else %>
                  <%= image_tag asset, alt: "#{@project.title} - Webdesign Antwerpen" %> 
                 <% end %>
              </a> 
            </li>
            <% end%>
          <% end %>
        </ol>
      </div>
      <div class="col_two_fifth portfolio-single-content col_last nobottommargin">
        <div class="fancy-title title-bottom-border">
          <h2 class="portfolio-single-title"><%= t("projects.info") %></h2>
        </div>
        <% if I18n.locale == :en %>
          <p><%=raw @project.en_description %></p>
        <% else %>
          <p><%=raw @project.description %> </p>
        <% end %>
        <ul class="portfolio-meta bottommargin">
          <li><span><i class="icon-user"></i><%= t("projects.author") %></span> <%= @user %></li>
          <li><span><i class="icon-link"></i>Link:</span> <a target="_blank" href="<%=@project.link %>"><%=@project.title %></a></li>
        </ul>
        <div class="fancy-title title-bottom-border">
          <h2 class="portfolio-single-title"><%= t("projects.descr") %></h2>
        </div>
        <ul class="portfolio-meta portfolio-features bottommargin">
          <% @project.tags.each_slice(3).each do |group| %>
            <li class="cf">
              <% group.each do |tag| %>
              <div class="col_one_third nomargin cf">
                <% if tag.icon && !!tag.icon.match(/.\.(png|jpeg|jpg|gif|ico)$/) %>
                  <span class="<%=tag.name.gsub(/[_]/, ' ') %>">
                    <img style="width: 16px; height: 16px; margin-right: 8px;" src="<%= asset_path(tag.icon) %>"/><%=tag.name.gsub(/[_]/, ' ') %>
                  </span> 
                <% else %>
                  <span class="<%= tag.name.gsub(/[_]/, ' ') %>">
                    <i class="<%= tag.icon %>"></i><%= tag.name.gsub(/[_]/, ' ') %>
                  </span> 
                <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="divider divider-center"><i class="icon-circle"></i></div>
      <h4><%= t("projects.related") %></h4>
      <div class="owl-carousel portfolio-carousel carousel-widget" data-margin="1" data-loop="false" data-nav="true" data-pagi="false" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="4">
        <% @relatedprojects.each do |project| %>
          <div class="oc-item">
            <div class="iportfolio">
              <div class="portfolio-image">
                <%=link_to(project_path(project)) do %>
                  <%= image_tag project.project_images.first , alt: "#{project.title} - Webdesign Antwerpen" if project.project_images.attached?  %>
                <% end %>
                <div class="portfolio-overlay">
                  <%= link_to(url(project.project_images.first) , class: "left-icon", data:{lightbox: "image"}) do %>
                    <i class="icon-line-image"></i>
                  <% end %>
                  <%=link_to(project_path(project), class: "right-icon") do %>
                    <i class="icon-line-open"></i>
                  <% end %>
                </div>
              </div>
              <div class="portfolio-desc">
                <h3> <%=link_to(project.title, project_path(project)) %> </h3>
                <%= link_to project_path(project), class: "portfolio-features" do %>
                  <span><%= tags(project) %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%=render "shared/footer" %>
    <div id="gotoTop" class="icon-angle-up"></div>
    <% content_for :js do %> <%=javascript_include_tag "application" %> <script>
        autoScroll(); showOptions();
      </script> <% end %>
  </body>
